:root {
    --background-color: #FAFAFA;
    --primary-color: #EC362D;
    --black-color: #000000;
    --gray-color: #B9B9B9;
    --white-color: #FFFFFF;
    --gradiente-black: linear-gradient(to bottom, #00000000 0%, #00000000 40%, #000000a1 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

header h1 {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: var(--white-color);
}

main:nth-child(2){
    display: flex;
    justify-content: center;
}

.scroll-view {
    height: 69px;
    width: 100%;
}

.tela2{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}

.tela2 .banner{
    height: 142px;
    position: relative;
    display: flex;
    color: var(--white-color);;
}

.tela1 {
    padding: 0 18px 18px 18px;
    width: 375px;
    margin: 0 auto;
}

.tela1 section {
    margin-bottom: 35px;
}

.seus-quizzes-vazio {
    height: 181px;
    width: 100%;
    margin-top: 20px;
    border: 2px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela2 .banner img{
}

.tela2 .banner h2{
    color: var(--white-color);
    font-size: 19px;
    line-height: 22px;
    position: absolute;
}

.tela2 .perguntas{
}

.tela2 .perguntas ul li{
    padding: 18px;
    margin-top: 28px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.tela2 .perguntas ul li .texto{
    background-color: #434CA0;
    color: #FFFFFF;
    height: 89px;
    font-weight: bold;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
}

.tela2 .perguntas .opcoes-cima{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.tela2 .perguntas .opcoes-baixo{
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
}

.opcao1{
    /* background-color: green; */
}

.opcao2{
    /* background-color: blue; */
}

.tela2 .perguntas .opcoes img{
    width: 163px;
    height: 113px;
}

.tela2 .perguntas .opcoes p{
    margin-top: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}


.seus-quizzes-vazio span {
    width: 250px;
    color: var(--gray-color);
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
}

.seus-quizzes-vazio button {
    height: 40px;
    width: 151px;
    font-size: 21px;
    text-align: center;
    color: var(--background-color);
    border: 2px dashed var(--background-color);
    border-radius: 50px;
    background-color: #FAFAFA;
}

.seus-quizzes-preenchido {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.tela1 .topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.seus-quizzes-preenchido ion-icon {
    color: var(--primary-color);
    font-size: 40px;
}

.todos-quizzes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.lista-quizzes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.quizz {
    position: relative;
    width: 340px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #434CA0;
}

.quizz .size-fixed {
    height: 181px;
}

.quizz .size-fill {
    height: 90%;
}

.quizz img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.quizz span {
    height: 54px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    left: 0;
    bottom: 5px;
    font-size: 19px;
    line-height: 22px;
    color: var(--white-color);
    z-index: 2;
    border-radius: 10px;
}

.quizz .gradiente-escurecer {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    background-image: var(--gradiente-black);
}

/*JQuery para desktop 
.tela2 .banner .img{
    height: 227px;
    width: 1440px;
}
*/

/* TELA 3 */
.tela3 {
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
}
.tela3 section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.tela3 h3 {
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
}
.tela3 .lista {
    width: 100%;
}

/* TÍTULO E INPUTS */
.tela3 article {
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 21px 18px;
    margin-bottom: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.tela3 article .topo {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tela3 h4 {
    font-size: 20px;
    font-weight: 700;
}
.tela3 ion-icon {
    font-size: 25px;
}
.tela3 article .perguntas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #434CA0;
    justify-content: space-between;
}
.tela3 input {
    width: 100%;
    background: var(--white-color);
    margin-bottom: 11px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: var(--black-color);
    font-size: 19px;
    padding-left: 15px;
}
.tela3 input .nova-resposta {
    margin-top: 30px;
}
.tela3 input::placeholder {
    opacity: 1;
    color: var(--gray-color);
    font-style: italic;
}
.tela3 input:-ms-input-placeholder {
    color: var(--gray-color);
    font-style: italic;
}
.tela3 input::-ms-input-placeholder {
    color: var(--gray-color);
    font-style: italic;
}
.tela3 .entrada {
    height: 46px;
}
.tela3 .descricao {
    height: 177px;
}
.tela3 h5 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--gray-color);
}

/* BOTÃO DE TODA TELA 3 */
.tela3 button {
    width: 80%;
    height: 54px;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 18px;
    color: var(--background-color);
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* CLASSES */
.escondido {
    display: none !important;
}